@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

@layer utilities {
  /* Untuk WebKit (Chrome, Safari, Edge) */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Untuk Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}

@media print {
  thead {
    display: table-header-group;
  }

  tbody {
    display: table-row-group;
  }

  tr {
    page-break-inside: avoid;
  }

  .page-break {
    break-before: page;
    margin-top: 40px;
  }
}

